.filter__wrap {
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 20px;
}

.filter__wrap h3 {
  margin-left: 25px;
  font-size: 15px;
  font-weight: 500;
}

/* filter tags */
.filter {
  position: relative;
  padding: 10px 20px;
  border: 2.5px var(--background-color) solid;
  border-radius: 20px;
  transition: 0.3s;
  margin-right: 15px;
  margin-top: 7px;
}

/* Filter hover effect */
.filter:hover {
  background-color: var(--sub-color);
  border: 2.5px var(--sub-color) solid;
  transition: 0.4s;
}

.filter__icons {
  width: 100%;
  display: flex;   
  flex-wrap: wrap;
  padding: 0;
  margin-left: 20px;
}

/* icons inside filter */
.filter__icons i {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 18px;
  color: var(--accent-color);
  background-color: var(--sub-color);
  border-radius: 100%;
  left: -3px;
} 

.filter__icons .filter {
  display: flex;
  align-items: center;
}

/* information */
.info__logo {
    display: flex;
    align-items: center;
}

.info__logo i {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px var(--background-color) solid;
    border-radius: 25px 25px;
    color: var(--accent-color);
    font-weight: 800;
    margin-right: 10px;
    font-size: 13px;
}
