.filter-wrap {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.filter-wrap h2 {
  margin: 0 13px;
  font-size: 16px;
  font-weight: 600;
}

.filter-icons {
    width: 100%;
    display: flex;   
    flex-wrap: wrap;
    padding: 0;
    margin-left: 20px;
}

.filter-icons i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  position: relative;
  right: 2px;
  color: var(--accent-color);
  background-color: var(--sub-color);
  border-radius: 100%;
}

.filter-icons .filter {
  display: flex;
  align-items: center;
}

.filter-icons a {
  background-color: #ffffff;
  border: 2.5px #F2F2F2 solid;
  border-radius: 50px;
  font-weight: 600;
  transition: 0.3s;
  margin-right: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px var(--background-color) solid;
  border-radius: 20px;
}

.filter-icons a:hover {
  background-color: var(--sub-color);
  transition: 0.4s;
}

.info-logo {
    display: flex;
    align-items: center;
}

.info-logo i {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px var(--background-color) solid;
    border-radius: 25px 25px;
    color: var(--accent-color);
    font-weight: 800;
    margin-right: 10px;
    font-size: 13px;
}
