footer {
    height: 220px;
    background-color: var(--background-color);
    margin-top: 80px;
}

footer h2 {
    font-weight: 600;
}

footer ul {
    margin: 8px 0;
    font-weight: 300;
}

footer ul li {
    font-size: 16px;
}

.footer__container {
    display: flex;
    padding: 40px 0 0 50px;
    line-height: 1.8;
}

.footer__section {
    flex-basis: 30%;
}

