*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
}

:root {
    --background-color: #F2F2F2;
    --accent-color: #0065FC;
    --sub-color:#DEEBFF;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px; 
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

h4 {
    font-size: 14px;
    font-weight: 200;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}
