.search__wrap {
    position: relative;
    width: 100%;
    height: 30px;
    }

.search__container a i {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.search__container h4 {
    margin: 10px 0;
}

.search__wrap a {
width: 45px;
height: 45px;
display: block;
position: absolute;
background-color: var(--background-color);
border-radius: 13px 0 0 13px;
}

#input-text {
    position: absolute;
    border: 1px var(--background-color) solid;
    height: 45px;
    width: 205px;
    left: 45px;
    padding-inline: 3px;
}

input:focus {
    outline: none;
}

input::placeholder {
    padding: 0 10px;
    font-weight: 600;
    color: black;
}

#input-btn--search {
    position: absolute;
    left: 248px;
    border: none;
    height: 45px;
    width: 110px;
    border-radius: 0 13px 13px 0;
    background-color: var(--accent-color);
    color: #ffffff;
    font-weight: 500;
}

#input-btn--search:hover {
    cursor: pointer;
}

/* btn for mobile */
.search__wrap button {
    display: none;
}