/* cards */
.card-section {
    width: 90%;
    margin: 0 auto;
}

.card-greybg {
    flex-direction: column;
}

/* les plus populaires */
.popul__card {
    width: 80%;
    gap: 3%;
    margin: 1% auto;
    background-color: white;
    border: 5px white solid;
    border-radius: 16px;
    transition: 0.5s;
    box-shadow: 6px 9px 39px -13px rgb(0 0 0 / 21%);
}

.card__wrap__popul {
    width: 100%;
}

.popul__title {
    width: 97%;
    margin: 0 auto;
}

.card-greybg__popul {
    width: 100%;
    order: 1;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    justify-content: center;
}

/* hebergements a marseille */
#card-greybg__marseille {
    width: 100%;
    order: 2;
    padding: 6%;
}

#card-greybg__marseille h2 {
    text-indent: 10px;
}

.card__wrap__marseille {
    width: 100%;
}

.marseille__card {
    margin: 10% 0 0 0;
    width: 100%;
}

.marseille__card card__body {
    padding: 10px;
}

.marseille__card .rating-icons {
    margin-top: 1%;
}

#card-greybg__marseille img {
    width: 100%;
    height: 119px;
}

/* activities */
#activity {
    padding: 0 3%;
}

.activity__column h3 {
    font-size: 14px;
}


